/*-- scss:defaults --*/

// DSLAB Color Palette (from beamercolorthemeDSLAB.sty)
$color-title-bar: #00a9d4;      // RGB(0,169,212)
$color-title-text: #fafafa;     // RGB(250,250,250)
$color-text-block: #050591;     // RGB(5,5,145)
$color-bg: #ffffff;             // RGB(255,255,255)
$color-bg-light: #f5faff;       // RGB(245,250,255) - devryblue
$color-dark-red: #751400;       // RGB(117,20,0)
$color-gray-1: #dcdcdc;         // RGB(220,220,220)
$color-gray-2: #b4b4b4;         // RGB(180,180,180)

// Base colors
$body-bg: $color-bg-light;
$body-color: #000000;
$link-color: $color-title-bar;
$selection-bg: $color-title-bar;
$selection-color: $color-title-text;

// Headings
$presentation-heading-font: 'Lato', sans-serif;
$presentation-heading-color: $color-title-bar;
$presentation-h1-font-size: 2.0em;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1.2em;

// Text
$presentation-font-size-root: 28px;
$presentation-line-height: 1.3;

/*-- scss:rules --*/

// Title slide styling
.reveal .slide-background.title-slide {
  background-color: $color-title-bar;
}

.reveal .title-slide {
  h1.title {
    color: $color-title-text;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .subtitle {
    color: $color-title-text;
    font-size: 1.4em;
    margin-bottom: 2em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .author {
    color: $color-title-text;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .date {
    color: $color-title-text;
    font-size: 1em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .quarto-title-block {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

// Add logos to title slide
.reveal .title-slide::after {
  content: '';
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
  background-image: url('/images/DSLab_logo_1.png'), url('/images/URJClogo.png');
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% - 200px) center, calc(50% + 200px) center;
  background-size: 150px auto, 150px auto;
}

// Slide headings (frame titles)
.reveal h2 {
  color: $color-title-bar;
  background-color: $color-title-bar;
  color: white;
  padding: 0.4em 0.5em 0.4em 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-weight: bold;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 1.5em;
}

// Add small logo to slide headings
.reveal h2::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('/images/DSLab_logo_2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

// Regular content
.reveal h3 {
  color: $color-text-block;
  font-size: 1.15em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.reveal h4 {
  color: $color-text-block;
  font-size: 1.0em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

// Lists
.reveal ul, .reveal ol {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.reveal li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1.3;
}

// Code blocks
.reveal pre {
  box-shadow: none;
  border: 1px solid $color-gray-2;
  background-color: $color-bg;
  font-size: 0.55em;
  margin: 0.5em 0;
}

.reveal code {
  background-color: $color-bg-light;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  font-size: 0.85em;
}

// Block quotes and callouts
.reveal blockquote {
  background-color: $color-bg-light;
  border-left: 4px solid $color-title-bar;
  padding: 0.4em 0.8em;
  margin: 0.5em 0;
  font-size: 0.9em;
}

// Tables
.reveal table {
  border-collapse: collapse;
  margin: 0.5em auto;
  font-size: 0.8em;
  border: 1px solid $color-gray-2;
}

.reveal th {
  background-color: $color-title-bar;
  color: $color-title-text;
  padding: 0.4em;
  font-weight: bold;
  border: 1px solid $color-gray-2;
}

.reveal td {
  border: 1px solid $color-gray-2;
  padding: 0.4em;
}

.reveal tbody tr:last-child td {
  border-bottom: 1px solid $color-gray-2;
}

// Slide footer styling (removed - no footer in use)

// Progress bar
.reveal .progress {
  background: $color-gray-2;
  color: $color-title-bar;
}

// Controls
.reveal .controls {
  color: $color-title-bar;
}

// Slide numbers
.reveal .slide-number {
  background-color: $color-title-bar;
  color: $color-title-text;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 3px;
}

// Two column layout support
.reveal .columns {
  display: flex;
  gap: 2em;
  align-items: flex-start;
}

.reveal .column {
  flex: 1;
}

// Strong emphasis
.reveal strong {
  color: $color-text-block;
  font-weight: bold;
}

// Links
.reveal a {
  color: $color-title-bar;
  text-decoration: underline;
}

.reveal a:hover {
  color: darken($color-title-bar, 15%);
}

// Content alignment
.reveal .slide-content {
  text-align: left;
}

// OJS Interactive elements - preserve styling
.reveal select,
.reveal input[type="range"],
.reveal input[type="number"],
.reveal input[type="text"],
.reveal .observablehq--input,
.reveal .ojscontrols select,
.reveal .ojscontrols input {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
}

// Ensure OJS controls don't inherit reveal.js styles
.reveal .ojscontrols,
.reveal .ojsinteractive {
  background: inherit !important;
  color: inherit !important;
}
